fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
bcrypt
python-jose[cryptography]
python-multipart
celery
redis
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-openai
sentence-transformers
PyMuPDF
pdfplumber
python-docx
pytesseract
openai
httpx
python-dotenv
